<h2>Reddit Reader</h2>

<nav>
  {{#link-to 'posts' 'emberjs'}}ember.js{{/link-to}} |
  {{#link-to 'posts' 'javascript'}}js{{/link-to}} |
  {{#link-to 'posts' 'programming'}}programming{{/link-to}}
</nav>

<p>
  <button {{action 'random'}}>i'm feeling lucky</button>
</p>

{{outlet}}
